.dialog-content {
  .parent-content {
    display: flex;

    .form-content {
      flex: auto;
      margin: 10px 0 5px;
    }
  }
}

.dialog-actions {
  display: flex;
  justify-content: center;
}

::ng-deep {
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: 100vw;
  }

  .mat-mdc-dialog-container {
    width: 100vw;
    height: 100vh;

    .mat-mdc-dialog-content {
      max-height: 80vh;
      padding-top: 10px;
    }
  }
}
