<button
  mat-icon-button
  [matMenuTriggerFor]="menu1"
  [matMenuTriggerData]="{ list: menuList }"
>
  <mat-icon>more_vert</mat-icon>
</button>

<!-- メニュー1 -->
<mat-menu #menu1="matMenu">
  <ng-template matMenuContent let-menuList="list">
    @for (menu of menuList; track menu.id) {
      @if (!!menu.children) {
        <button
          mat-menu-item
          [matMenuTriggerFor]="menu2"
          [matMenuTriggerData]="{ list: menu.children }"
        >
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </button>
      } @else {
        <button mat-menu-item (click)="onClickMenu(menu.id)">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </button>
      }
    }
  </ng-template>
</mat-menu>

<!-- メニュー2 -->
<mat-menu #menu2="matMenu">
  <ng-template matMenuContent let-menuList="list">
    @for (menu of menuList; track menu.id) {
      @if (!!menu.children) {
        <button
          mat-menu-item
          [matMenuTriggerFor]="menu3"
          [matMenuTriggerData]="{ list: menu.children }"
        >
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </button>
      } @else {
        <button mat-menu-item (click)="onClickMenu(menu.id)">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </button>
      }
    }
  </ng-template>
</mat-menu>

<!-- メニュー3 -->
<mat-menu #menu3="matMenu">
  <ng-template matMenuContent let-menuList="list">
    @for (menu of menuList; track menu.id) {
      <button mat-menu-item (click)="onClickMenu(menu.id)">
        <mat-icon>{{ menu.icon }}</mat-icon>
        <span>{{ menu.label }}</span>
      </button>
    }
  </ng-template>
</mat-menu>
