<!-- Menu -->
<app-menu
  class="menu-icon"
  [scrId]="scrInf().si"
  (scrIdChange)="scrIdChange.emit($event)"
/>
<!-- Info -->
<!-- <app-info></app-info> -->
<!-- History Reset -->
<!-- <app-history-reset
  class="icon"
  [hist]="hist()"
  (histReset)="histReset.emit()"
></app-history-reset> -->
<!-- Favorite -->
<!-- <app-favorite
  class="icon"
  [favoriteScreenId]="screenInfo().fi"
  (screenIdChange)="screenIdChange.emit($event)"
/> -->
<!-- TODO: グラフ表示機能作成予定 -->
<!-- Chart -->
<app-chart [rows]="mainRows()"></app-chart>
<!-- Screen Transition -->
<app-screen-transition
  class="icon"
  [(mapDsp)]="mapDsp"
  [scrId]="scrInf().si"
  [scrData]="scrInf().sd"
  (scrIdChange)="scrIdChange.emit($event)"
/>
<!-- Undo -->
<app-undo class="icon" [hist]="hist()" (undo)="undoRedo.emit(false)" />
<!-- Redo -->
<app-redo class="icon" [hist]="hist()" (redo)="undoRedo.emit(true)" />
