<!-- Menu -->
<app-menu
  class="menu-icon"
  [scrId]="scrInf().si"
  (scrIdChange)="scrIdChange.emit($event)"
/>
<!-- Info -->
<!-- <app-info/> -->
<!-- History Reset -->
<!-- <app-history-reset
  class="icon"
  [hist]="hist()"
  (histReset)="histReset.emit()"
/> -->
<!-- Favorite -->
<!-- <app-favorite
  class="icon"
  [favoriteScreenId]="screenInfo().fi"
  (screenIdChange)="screenIdChange.emit($event)"
/> -->
<!-- TODO: グラフ表示機能作成予定 -->
<!-- Chart -->
<app-chart [rows]="mainRows()" />
<!-- Screen Transition -->
<app-screen-transition
  class="icon"
  [(mapDsp)]="mapDsp"
  [(nextScrId)]="nextScrId"
  [scrId]="scrInf().si"
  [scrData]="scrInf().sd"
  (scrIdChange)="scrIdChange.emit($event)"
/>
<!-- Undo -->
<app-undo class="icon" [hist]="hist()" (undo)="undoRedo.emit(false)" />
<!-- Redo -->
<app-redo class="icon" [hist]="hist()" (redo)="undoRedo.emit(true)" />
