<!-- タイトル -->
<h1 class="title-content">
  <mat-icon>{{ scrData().ic }}</mat-icon>
  <span style="margin-left: 10px">{{ scrData().lb }}</span>
</h1>
<div style="flex: auto"></div>
<div class="right-content">
  <!-- 過去データ編集可能フラグ -->
  <!-- <app-form-toggle [data]="formData()" [form]="form()"></app-form-toggle> -->
  <!-- History Reset -->
  <!-- <app-history-reset
    class="icon"
    [hist]="hist()"
    (histReset)="histReset.emit()"
  ></app-history-reset> -->
  <!-- ダウンロードボタン -->
  <app-file-download [data]="data()" />
  <!-- アップロードボタン -->
  <app-file-upload (fileOutput)="data.set($event)" />
</div>
