.grid-above-content {
  width: 100vw;
  height: 25px;
  overflow-x: auto;
  user-select: none;

  .overflow {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
}

.grid-below-content {
  display: flex;
  width: 100vw;
  height: 25px;
  overflow-x: auto;
  user-select: none;
  opacity: 1;

  .overflow {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  input,
  mat-icon {
    margin-right: 8px;

    &.hidden {
      display: none;
    }
  }

  .disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  input {
    min-width: 150px;
  }

  mat-icon {
    min-width: 24px;
  }
}
