<!-- グリッド上共通機能 -->
@if (!!topOpt()) {
  <app-money-status [list]="gridTopOptDsp()[0].detail" />
}

<!-- グリッド -->
<div class="main-content">
  <ag-grid-angular
    [theme]="myTheme"
    [gridOptions]="gridOptions()"
    [getRowId]="rowId()"
    [style]="style()"
    [columnDefs]="colDefs()"
    [rowData]="rows()"
    [getRowStyle]="rowStyle()"
    (selectionChanged)="onChangeSelection($event)"
    (gridReady)="onReadyGrid($event)"
    (rowSelected)="rowSelect.emit($event)"
    (cellClicked)="onClickCell($event)"
    (cellValueChanged)="cellValueChange.emit($event)"
    (cellDoubleClicked)="cellDoubleClick.emit($event)"
    (rowClicked)="rowClick.emit($event)"
    (rowDoubleClicked)="rowDoubleClick.emit($event)"
    (firstDataRendered)="onDspFirstData($event)"
    (rowDragEnd)="onDragEndRow($event)"
    (rowDragEnter)="onDragEnterRow($event)"
    (cellContextMenu)="cellContextMenu.emit($event)"
    (columnHeaderContextMenu)="columnHeaderLongClick.emit($event)"
    (modelUpdated)="onUpdateModel($event)"
    (rowDataUpdated)="onUpdRows($event)"
    (filterChanged)="onChangeFilterAndSort($event)"
    (sortChanged)="onChangeFilterAndSort($event)"
  />
</div>

<!-- グリッド下共通機能 -->
@if (!!btmOpt()) {
  <div class="grid-below-content my-scrollbar-hidden">
    <div style="flex: auto"></div>
    <div class="overflow">
      @for (opt of gridBtmOptDsp(); track $index) {
        @if (opt.key === 'menuList') {
          <!-- メニューリストの場合 -->
          <app-menu-list
            [class.hidden]="!opt.valid || opt.hide"
            [class.disabled]="opt.disabled"
            [menuInput]="{ icon: opt.icon, menuList: opt.detail }"
            (menuClick)="opt.func(opt, $event)"
          />
        } @else {
          <!-- 上記以外 -->
          <mat-icon
            [class.hidden]="!opt.valid || opt.hide"
            [class.disabled]="opt.disabled"
            (click)="opt.func(opt)"
            >{{ opt.icon }}</mat-icon
          >
        }
      }
    </div>
  </div>
}
